<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>regular</key>
	<array>
		<dict>
			<key>preview</key>
			<string>AppIcon_Preview</string>
			<key>asset</key>
			<string></string>
			<key>name</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Bonsai_Preview</string>
			<key>asset</key>
			<string>Bonsai</string>
			<key>name</key>
			<string>Bonsai</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>CannedHam_Preview</string>
			<key>asset</key>
			<string>CannedHam</string>
			<key>name</key>
			<string>Canned Ham</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Cone_Preview</string>
			<key>asset</key>
			<string>Cone</string>
			<key>name</key>
			<string>Cone</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Cow_Preview</string>
			<key>asset</key>
			<string>Cow</string>
			<key>name</key>
			<string>Cow</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Crab_Preview</string>
			<key>asset</key>
			<string>Crab</string>
			<key>name</key>
			<string>Crab</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Dictionary_Preview</string>
			<key>asset</key>
			<string>Dictionary</string>
			<key>name</key>
			<string>Dictionary</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>DNA_Preview</string>
			<key>asset</key>
			<string>DNA</string>
			<key>name</key>
			<string>DNA</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Earth_Preview</string>
			<key>asset</key>
			<string>Earth</string>
			<key>name</key>
			<string>Earth</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Fan_Preview</string>
			<key>asset</key>
			<string>Fan</string>
			<key>name</key>
			<string>Fan</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Fox_Preview</string>
			<key>asset</key>
			<string>Fox</string>
			<key>name</key>
			<string>Fox</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Gnome_Preview</string>
			<key>asset</key>
			<string>Gnome</string>
			<key>name</key>
			<string>Gnome</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>HighHeel_Preview</string>
			<key>asset</key>
			<string>HighHeel</string>
			<key>name</key>
			<string>High Heel</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Ketchup_Preview</string>
			<key>asset</key>
			<string>Ketchup</string>
			<key>name</key>
			<string>Ketchup</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Laptop_Preview</string>
			<key>asset</key>
			<string>Laptop</string>
			<key>name</key>
			<string>Laptop</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Milk_Preview</string>
			<key>asset</key>
			<string>Milk</string>
			<key>name</key>
			<string>Milk</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Noodles_Preview</string>
			<key>asset</key>
			<string>Noodles</string>
			<key>name</key>
			<string>Noodles</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Robot_Preview</string>
			<key>asset</key>
			<string>Robot</string>
			<key>name</key>
			<string>Robot</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Shark_Preview</string>
			<key>asset</key>
			<string>Shark</string>
			<key>name</key>
			<string>Shark</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Starsparkles_Preview</string>
			<key>asset</key>
			<string>Starsparkles</string>
			<key>name</key>
			<string>Starsparkles</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Taco_Preview</string>
			<key>asset</key>
			<string>Taco</string>
			<key>name</key>
			<string>Taco</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>UFO_Preview</string>
			<key>asset</key>
			<string>UFO</string>
			<key>name</key>
			<string>UFO</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Void_Preview</string>
			<key>asset</key>
			<string>Void</string>
			<key>name</key>
			<string>Void</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Volcano_Preview</string>
			<key>asset</key>
			<string>Volcano</string>
			<key>name</key>
			<string>Volcano</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Wave_Preview</string>
			<key>asset</key>
			<string>Wave</string>
			<key>name</key>
			<string>Wave</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>Weed_Preview</string>
			<key>asset</key>
			<string>Weed</string>
			<key>name</key>
			<string>Weed</string>
		</dict>
	</array>
	<key>neon</key>
	<array>
		<dict>
			<key>preview</key>
			<string>BonsaiNeon_Preview</string>
			<key>asset</key>
			<string>BonsaiNeon</string>
			<key>name</key>
			<string>Bonsai (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>CannedHamNeon_Preview</string>
			<key>asset</key>
			<string>CannedHamNeon</string>
			<key>name</key>
			<string>Canned Ham (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>ConeNeon_Preview</string>
			<key>asset</key>
			<string>ConeNeon</string>
			<key>name</key>
			<string>Cone (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>CowNeon_Preview</string>
			<key>asset</key>
			<string>CowNeon</string>
			<key>name</key>
			<string>Cow (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>CrabNeon_Preview</string>
			<key>asset</key>
			<string>CrabNeon</string>
			<key>name</key>
			<string>Crab (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>DictionaryNeon_Preview</string>
			<key>asset</key>
			<string>DictionaryNeon</string>
			<key>name</key>
			<string>Dictionary (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>DNANeon_Preview</string>
			<key>asset</key>
			<string>DNANeon</string>
			<key>name</key>
			<string>DNA (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>EarthNeon_Preview</string>
			<key>asset</key>
			<string>EarthNeon</string>
			<key>name</key>
			<string>Earth (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>FanNeon_Preview</string>
			<key>asset</key>
			<string>FanNeon</string>
			<key>name</key>
			<string>Fan (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>FoxNeon_Preview</string>
			<key>asset</key>
			<string>FoxNeon</string>
			<key>name</key>
			<string>Fox (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>GnomeNeon_Preview</string>
			<key>asset</key>
			<string>GnomeNeon</string>
			<key>name</key>
			<string>Gnome (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>HighHeelNeon_Preview</string>
			<key>asset</key>
			<string>HighHeelNeon</string>
			<key>name</key>
			<string>High Heel (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>KetchupNeon_Preview</string>
			<key>asset</key>
			<string>KetchupNeon</string>
			<key>name</key>
			<string>Ketchup (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>LaptopNeon_Preview</string>
			<key>asset</key>
			<string>LaptopNeon</string>
			<key>name</key>
			<string>Laptop (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>MilkNeon_Preview</string>
			<key>asset</key>
			<string>MilkNeon</string>
			<key>name</key>
			<string>Milk (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>NoodlesNeon_Preview</string>
			<key>asset</key>
			<string>NoodlesNeon</string>
			<key>name</key>
			<string>Noodles (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>RobotNeon_Preview</string>
			<key>asset</key>
			<string>RobotNeon</string>
			<key>name</key>
			<string>Robot (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>SharkNeon_Preview</string>
			<key>asset</key>
			<string>SharkNeon</string>
			<key>name</key>
			<string>Shark (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>StarsparklesNeon_Preview</string>
			<key>asset</key>
			<string>StarsparklesNeon</string>
			<key>name</key>
			<string>Starsparkles (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>TacoNeon_Preview</string>
			<key>asset</key>
			<string>TacoNeon</string>
			<key>name</key>
			<string>Taco (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>UFONeon_Preview</string>
			<key>asset</key>
			<string>UFONeon</string>
			<key>name</key>
			<string>UFO (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>VoidNeon_Preview</string>
			<key>asset</key>
			<string>VoidNeon</string>
			<key>name</key>
			<string>Void (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>VolcanoNeon_Preview</string>
			<key>asset</key>
			<string>VolcanoNeon</string>
			<key>name</key>
			<string>Volcano (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>WaveNeon_Preview</string>
			<key>asset</key>
			<string>WaveNeon</string>
			<key>name</key>
			<string>Wave (Neon)</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>WeedNeon_Preview</string>
			<key>asset</key>
			<string>WeedNeon</string>
			<key>name</key>
			<string>Weed (Neon)</string>
		</dict>
	</array>
</dict>
</plist>
