<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>regular</key>
	<array>
		<dict>
			<key>preview</key>
			<string>AppIcon_Preview</string>
			<key>name</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon0_Preview</string>
			<key>asset</key>
			<string>AppIcon0</string>
			<key>name</key>
			<string>Noun 1</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon1_Preview</string>
			<key>asset</key>
			<string>AppIcon1</string>
			<key>name</key>
			<string>Noun 2</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon2_Preview</string>
			<key>asset</key>
			<string>AppIcon2</string>
			<key>name</key>
			<string>Noun 3</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon3_Preview</string>
			<key>asset</key>
			<string>AppIcon3</string>
			<key>name</key>
			<string>Noun 5</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon4_Preview</string>
			<key>asset</key>
			<string>AppIcon4</string>
			<key>name</key>
			<string>Noun 11</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon5_Preview</string>
			<key>asset</key>
			<string>AppIcon5</string>
			<key>name</key>
			<string>Noun 26</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon6_Preview</string>
			<key>asset</key>
			<string>AppIcon6</string>
			<key>name</key>
			<string>Noun 42</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon7_Preview</string>
			<key>asset</key>
			<string>AppIcon7</string>
			<key>name</key>
			<string>Noun 47</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon8_Preview</string>
			<key>asset</key>
			<string>AppIcon8</string>
			<key>name</key>
			<string>Noun 72</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon9_Preview</string>
			<key>asset</key>
			<string>AppIcon9</string>
			<key>name</key>
			<string>Noun 73</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon10_Preview</string>
			<key>asset</key>
			<string>AppIcon10</string>
			<key>name</key>
			<string>Noun 74</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon11_Preview</string>
			<key>asset</key>
			<string>AppIcon11</string>
			<key>name</key>
			<string>Noun 78</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon12_Preview</string>
			<key>asset</key>
			<string>AppIcon12</string>
			<key>name</key>
			<string>Noun 99</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon13_Preview</string>
			<key>asset</key>
			<string>AppIcon13</string>
			<key>name</key>
			<string>Noun 117</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon14_Preview</string>
			<key>asset</key>
			<string>AppIcon14</string>
			<key>name</key>
			<string>Noun 141</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon15_Preview</string>
			<key>asset</key>
			<string>AppIcon15</string>
			<key>name</key>
			<string>Noun 149</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon16_Preview</string>
			<key>asset</key>
			<string>AppIcon16</string>
			<key>name</key>
			<string>Noun 151</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon17_Preview</string>
			<key>asset</key>
			<string>AppIcon17</string>
			<key>name</key>
			<string>Noun 159</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon18_Preview</string>
			<key>asset</key>
			<string>AppIcon18</string>
			<key>name</key>
			<string>Noun 195</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon19_Preview</string>
			<key>asset</key>
			<string>AppIcon19</string>
			<key>name</key>
			<string>Noun 197</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon20_Preview</string>
			<key>asset</key>
			<string>AppIcon20</string>
			<key>name</key>
			<string>Noun 199</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon21_Preview</string>
			<key>asset</key>
			<string>AppIcon21</string>
			<key>name</key>
			<string>Noun 205</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon22_Preview</string>
			<key>asset</key>
			<string>AppIcon22</string>
			<key>name</key>
			<string>Noun 208</string>
		</dict>
		<dict>
			<key>preview</key>
			<string>AppIcon23_Preview</string>
			<key>asset</key>
			<string>AppIcon23</string>
			<key>name</key>
			<string>Noun 268</string>
		</dict>
	</array>
</dict>
</plist>
