<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70862362630-fm32djs62dpqkboc78rtlbbltnm8upna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70862362630-fm32djs62dpqkboc78rtlbbltnm8upna</string>
	<key>API_KEY</key>
	<string>AIzaSyBKpCU53Nyig1IKWKG1thAUE8BaHOyxWaM</string>
	<key>GCM_SENDER_ID</key>
	<string>70862362630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wtf.nouns.ios</string>
	<key>PROJECT_ID</key>
	<string>nouns-7a17d</string>
	<key>STORAGE_BUCKET</key>
	<string>nouns-7a17d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70862362630:ios:8f8bb055e39277a2d10b87</string>
</dict>
</plist>